.message-bubble {
    -fx-shape: "M 36.00,41.94
           C 38.24,40.55 44.97,36.27 46.40,34.48
             48.33,32.07 47.99,28.91 48.00,26.00
             48.01,22.17 47.70,16.55 48.80,13.00
             51.98,2.70 60.35,0.02 70.00,0.00
             70.00,0.00 386.00,0.00 386.00,0.00
             386.00,0.00 459.00,0.00 459.00,0.00
             474.29,0.02 481.98,6.36 482.00,22.00
             482.00,22.00 482.00,91.00 482.00,91.00
             481.93,106.40 473.53,111.98 459.00,112.00
             459.00,112.00 145.00,112.00 145.00,112.00
             145.00,112.00 80.00,112.00 80.00,112.00
             70.21,112.00 59.81,113.83 52.53,105.70
             46.18,98.61 48.00,85.17 48.00,76.00
             48.00,76.00 0.00,62.00 0.00,62.00
             0.00,62.00 0.00,56.00 0.00,56.00
             10.83,55.49 26.77,47.63 36.00,41.94 Z";
    
    -fx-background-color: blue, rgba(255, 255, 255, 0.9);
    -fx-text-alignment: left;
    -fx-background-insets: 0,1;

    -fx-text-fill: black;
}

.grid {
    /* 1 pixel border around the top and right of the grid: */
    -fx-background-color: cell-border-color, cell-color ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-padding: 1 ;
}